.contain-box{
  width: 1200px;
  margin: 0 auto;
}

.function-container{
  float: left;
  width: 500px;
  margin: 30px 0 0 30px;
}

.articleList{
  float: left;
}

.articleList > ul{
  padding: 0;
  padding-bottom: 60px;
  margin: 0;
}

.button{
  width: 232px;
  height: 60px;
  border-radius: 6px;
  display: inline-block;
  background-color: #fff;
  border: none;
  padding: 0;
  box-shadow: 0 2px 10px rgba(204,204,204,0.2);
  outline: none;
}

.right-button{
  margin-left: 30px;
}

.mood-wall{
  width: 500px;
  border-radius: 6px;
  margin-top: 30px;
  background-color: #fff;
}

