.net-error-container{
    width: 100%;
    min-width: 1200px;
    text-align: center;
    background: linear-gradient(to right, #555, #333);
}

.error-image{
    display: inline-block;
}

.error-text-container{
    margin: 120px 0 0 80px;
    display: inline-block;
    vertical-align: top;
}

.four-zero-four{
    font-size: 200px;
    font-weight: 1000;
    color: #ccc;
    user-select: none;
}

.error-text{
    margin: 20px 0 0 20px;
    font-size: 28px;
    width: 400px;
    text-align: left;
    color: #ccc;
}

.return-button{
    width: 180px;
    height: 50px;
    border-radius: 25px;
    background-color: #fff;
    margin: 40px 20px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 200;
}

.return-button > a{
    color: #888;
}
